

body {
  text-align: center;
  background: white;
}

h1 {
  margin: 1.5rem;
  font-weight: bold;
}


table {
  text-align: center;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 1rem;
  border: 3px solid black;
  width:max-content;
}

#errorTwo,
#divTwo,
#result,
#noReturn {
  display: none;
}
input{
    border: 3px solid black;
    width: max-content;
    text-align: center;
    font-weight: bolder;
    padding: 0.5rem;
}

.btn-primary {
  background-color: white;
  color:black;
  width: max-content;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  margin: 1rem;
  cursor: pointer;
  border: 3px solid black;
  position:relative;
  font-weight: bolder;
}

table {
  border-collapse: collapse;
}
